<app-nav></app-nav>
<h4 *ngIf="errorMessage">{{errorMessage}}</h4>
<form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
  <label>
    Team Name:
    <br/>
    <input type="text" formControlName="teamName" required/>
  </label>
  <br/>
  <label>
    Date Estd:
    <br/>
    <input type="date" formControlName="dateEstd" required/>
  </label>
  <br/>
  <label>
    Team Lead :
    <br/>
    <select required formControlName="teamLead">
      <option *ngFor="let user of users" [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
    </select>
  </label>
  <br/>
  <label>
    Team Members:
    <br/>
    <select required formControlName="teamMembers">
      <option *ngFor="let user of users" [value]="user.id">
        <span>{{user.firstName}} {{user.lastName}}</span>
      </option>
    </select>
    <button type="button" class="addButton" (click)="addMember()">
      Add To Team
    </button>
  </label>
  <div *ngFor="let member of teamMembers" class="teamMembers">
    <div class="memberDescription">{{member.firstName}} {{member.lastName}}; id: {{member.id}}</div>
    <div class="removeButton" (click)="removeMember(member.id)">X</div>
  </div>
  <br/>
  <br/>
  <br/>
  <button type="submit" [disabled]="!teamForm.valid">
    Create Team
  </button>
</form>
