<!-- TODO: properly format the remove member button-->
<app-nav></app-nav>
<form *ngIf="team" [formGroup]="teamForm">
  <h3>{{team.teamName}} Details</h3>
  <h4 *ngIf="errorMessage">{{errorMessage}}</h4>
  <label>
    Team ID :
    <br>
    {{team.id}}
  </label>
  <br/>
  <label>
    Team Name :
    <br/>
    <input type="text" formControlName="teamName" placeholder="team name">
  </label>
  <br/>
  <label>
    Date of Formation :
    <br/>
    <input type="text" formControlName="dateEstd" placeholder="date of estd">
  </label>
  <br/>
  <label>
    Team Lead :
    <br/>
    <select required formControlName="teamLead" [compareWith]="byId">
      <option *ngFor="let user of users" [ngValue]="user"
              >{{user.firstName}} {{user.lastName}}</option>
    </select>
  </label>
  <br/>
  <label>
    Team Members :
    <select formControlName="addTeamMember">
      <option *ngFor="let user of users" [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
    </select>
    <button type="button" class="addButton" (click)="addMember()">
      ADD TO TEAM
    </button>
  </label>
  <div *ngFor="let member of teamMembersTeamForm" class="teamMembers">
    <span class="memberDescription">{{member.firstName | titlecase}} {{member.lastName | titlecase}}
      ; ID: {{member.id}}</span> <span class="removeButton" (click)="removeMember(member.id)">X</span>
  </div>
  <br/>
  <button class="updateButton" (click)="updateTeam()">Update</button>
</form>
