<!-- TODO: add memberOnTeams and teamLead-->
<app-nav></app-nav>
<div *ngIf="user && isEditable" class="margin100left">
  <h3 class="headers futura">{{user.firstName | titlecase}} {{user.lastName | titlecase}} Details</h3>
  <p>User ID : {{user.id}}</p>
  <label class="input sans-serif">
    First Name :
    <br/>
    <input class="input" [(ngModel)]="user.firstName" placeholder="firstName" required>
  </label>
  <br/>
  <label class="sans-serif">
    Last Name :
    <br/>
    <input class="input" [(ngModel)]="user.lastName" placeholder="lastName" required>
  </label>
  <br/>
  <label class="sans-serif">
    Email :
    <br/>
    <input *ngIf="!isAdmin" class="input" [(ngModel)]="user.email" placeholder="email" required>
    <p *ngIf="isAdmin">{{user.email}}</p>
  </label>
  <br/>
  <label class="sans-serif">
    <span class="label">Role :</span>
    <br/>
    <select required [(ngModel)]="user.role">
      <option *ngFor="let role of roles" [value]="role" [selected]="user.role === role">{{role}}</option>
    </select>
  </label>
  <br/>
  <br/>
  <label>
    <p>Teams Leading/ Led : </p>
    <ul>
      <span class="sans-serif" *ngFor="let team of user.leadOnTeams">
        <li>{{team | titlecase}}</li>
      </span>
    </ul>
  </label>
  <br/>
  <label class="sans-serif">
    <p class="memberTeams">Member on teams :</p>
    <ul>
      <span class="sans-serif" *ngFor="let team of user.memberOnTeams">
        <li>{{team | titlecase}}</li>
      </span>
    </ul>
  </label>
  <br/>
  <button (click)="updateUser()">Update</button>
</div>
<div *ngIf="!isEditable" class="margin100left"><p>User ID : {{user.id}}</p>
  <label class="input sans-serif">
    First Name :
    <br/>
    <p>{{user.firstName}}</p>
  </label>
  <br/>
  <label class="sans-serif">
    Last Name :
    <br/>
    <p>{{user.lastName}}</p>
  </label>
  <br/>
  <label class="sans-serif">
    Email :
    <br/>
    <p>{{user.email}}</p>
  </label>
  <br/>
  <label class="sans-serif">
    <span class="label">Role :</span>
    <br/>
    <p>{{user.role}}</p>
  </label>
  <br/>
  <br/>
  <label>
    <p>Teams Leading/ Led : </p>
    <ul>
      <span class="sans-serif" *ngFor="let team of user.leadOnTeams">
        <li>{{team | titlecase}}</li>
      </span>
    </ul>
  </label>
  <br/>
  <label class="sans-serif">
    <p class="memberTeams">Member on teams :</p>
    <ul>
      <span class="sans-serif" *ngFor="let team of user.memberOnTeams">
        <li>{{team | titlecase}}</li>
      </span>
    </ul>
  </label>
  <br/>
</div>
